[submodule "emacs.d/PG"]
	path = emacs.d/lisp/PG
	url = git@github.com:ProofGeneral/PG.git
[submodule "prelude"]
	path = prelude
	url = https://github.com/jakzale/prelude
[submodule "structured-haskell-mode"]
	path = structured-haskell-mode
	url = git@github.com:chrisdone/structured-haskell-mode.git
